body{
            /* fallback for old browsers */
            background: #6a11cb;
        
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
            
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    color: #fff;
}

/*Margin bottom le da la separación*/
header{
    background: #2785ad;
    padding: 1px;
    margin-bottom: 0px;
}

.contenedor-main{
margin-bottom: 2px;
}

/*esta es para poner colores en los text del navbar pero no la uso, llamo directamente a text-light*/
.color-me{
    color:rgb(255, 0, 195);
}

/*el padding en la parte de arriba y abajo de 20px*/
main{
    background: #fff;
    color: #424242;
    padding: 20px 0;

}

/*margen interno con el padding de 60px arriba y abajo y 0 a los costados*/
aside{
    background: #dee5e8;
    color: #0d47a1;
    margin-top: 20px;
    padding: 10px;

}



.widgets{
    margin-bottom: 20px;
    padding: 10px;
}



/*todos los div que estan dentro de los widgets*/
.widgets > div {
    background: #2196f3;
    color: #fff;
    padding: 20px;

}


.footer{
    padding: 20px 0;
    background: #1e1e1e;
    margin-top: auto;
}


.columna_comparativa{
        text-align: center;
        padding: 10px;
        border: 1px solid #4d5061;


}


.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }





.columna_comparativa > .columna_comparativa{
    padding: 80px;
    border : none;
    min-height: 300px;
    max-height: 400px;

}


.btn-group-vertical>.btn:not(:first-child),
.btn-group-vertical>.btn-group:not(:first-child) {
margin-top: 0;
}





.card-img-top {
    width: 530px;
    height: 280px;
  }

#mapid {
    /*height: 500px;*/
    /*width: 500px;*/
    height: 100%;
    width: calc(100% - 300px - 0.25em);
    float: left;
}


@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }


.contenedor > footer{


    padding: 20px 0;


    position: fixed;
    height: 50px;
    margin-top: auto;
    bottom: 0;
    right: 0;
    left: 0; 
    background: #1e1e1e;

}


.warnigns {
width: 200px;
text-align: center;
margin: auto;
color : #b06ab3;
padding-top : 20px;
}


/*Desde acá voy a hacer el carrito de compras 2*/


@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    }
    
    .number-input input[type=number]::-webkit-inner-spin-button,
    .number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    }

    
    .number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
    }
    
    .number-input button:before,
    .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
    }
    
    .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
    }
    
    .number-input input[type=number] {
    text-align: center;
    }
    
    .number-input.number-input {
    border: 1px solid #ced4da;
    width: 10rem;
    border-radius: .25rem;
    }
    
    .number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
    }
    
    .number-input.number-input button.minus {
    padding-left: 10px;
    }
    
    .number-input.number-input button:before,
    .number-input.number-input button:after {
    width: .7rem;
    background-color: #495057;
    }
    
    .number-input.number-input input[type=number] {
    max-width: 4rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
    }
    
    @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color:transparent) {
    
    .number-input.def-number-input.safari_only button:before,
    .number-input.def-number-input.safari_only button:after {
    margin-top: -.3rem;
    }
    }
    }
    
    .shopping-cart .def-number-input.number-input {
    border: none;
    }
    
    .shopping-cart .def-number-input.number-input input[type=number] {
    max-width: 2rem;
    border: none;
    }
    
    .shopping-cart .def-number-input.number-input input[type=number].black-text,
    .shopping-cart .def-number-input.number-input input.btn.btn-link[type=number],
    .shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:hover,
    .shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:focus {
    color: #212529 !important;
    }
    
    .shopping-cart .def-number-input.number-input button {
    width: 1rem;
    }
    
    .shopping-cart .def-number-input.number-input button:before,
    .shopping-cart .def-number-input.number-input button:after {
    width: .5rem;
    }
    
    .shopping-cart .def-number-input.number-input button.minus:before,
    .shopping-cart .def-number-input.number-input button.minus:after {
    background-color: #9e9e9e;
    }
    
    .shopping-cart .def-number-input.number-input button.plus:before,
    .shopping-cart .def-number-input.number-input button.plus:after {
    background-color: #4285f4;
    }


    /*Aca logica para los iconos de carrito*/

    .bi::before {
        display: inline-block;
        content: "";
        vertical-align: -.125em;
        background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
        background-repeat: no-repeat;
        background-size: 1rem 1rem;
      }


      /*aca voy a hacer el estilo del login - igualmente se lo agregué al body directamente*/

      .gradient-custom {
        /* fallback for old browsers */
        background: #6a11cb;
        
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }


